$main_bg: #191A1C;
$main_font_clr: #ffffff;
$secondary_font_clr: #9da1a5;
//$third_font_clr: #C4C4C4;
//$main_bg_clr: #ffffff;
//$secondary_bg_clr: #297F5E;
//$table_clr: #FFAF37;;
//$gradient_bg_clr: linear-gradient(90deg, #AAFFA9 0%, #11FFBD 100%);
//$replacement_gradient_clr: #77FFB0;





